/*
    bokikroki stylesheet
*/
body {
}

/*
    header
*/
header {

}

/*
    main content
*/
main {

}
#content {

}

/*
    footer
*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer ul {
    list-style: none;
}