<div ng-controller="forgotPassCtrl as forgotpass">
    <h2>Forgot Password</h2>
    <div class="col-lg-4">
        <form name="form" class="form-horizontal">
            <span class="label label-default">Please enter email that you used to register on this web site and we'll send you link to reset your password.</span>
            <div class="control-group">
                <label class="control-label" for="Email">Email</label>
                <div class="controls">
                    <input type="text" name="Email" ng-model="forgotpass.email" id="Email" placeholder="" class="form-control" required />
                </div>
            </div>
            <div class="form-actions">
                <button ng-click="form.$invalid ? alert('Please correct the form') : forgotpass.save()" class="btn btn-primary">Send</button>
                <!--<button ng-click="save()" class="btn btn-primary">Save</button>-->
                <a href="#/" class="btn">Cancel</a>
            </div>
        </form>
    </div>
</div>