<div ng-controller="listBlogCtrl as listblog" class="blog-panel">
    <form class="form-search">

        <div class="input-append">
            <div class="col-lg-4"> <input type="text" ng-model="listblog.query" class="form-control" placeholder="Search"></div>
        </div>
        <p></p>
        <button ng-click="listblog.query=''; listblog.reset()" ng-disabled="!listblog.query" type="submit" class="btn btn-default">Reset</button>
        <p></p>

    </form>


    <ul class="nav nav-pills pull-right list-blog-ctrl">
        <li class="dropdown">
            <a class="" data-toggle="dropdown" aria-expanded="true" id="sort-post">
                Sort <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                <li>
                    <div>
                        <a ng-click="listblog.sort('Name')">Name</a>
                        <span ng-show="listblog.sort_order=='Name' && listblog.is_desc==true"><i class="caret"></i></span>
                        <span ng-show="listblog.sort_order=='Name' && listblog.is_desc==false"><i class="caret caret-up"></i></span>
                        </
                    </div>
                </li>
                <li>
                    <div>
                        <a ng-click="listblog.sort('BlogBody')">Post</a>
                        <span ng-show="listblog.sort_order=='BlogBody' && listblog.is_desc==true"><i class="caret"></i></span>
                        <span ng-show="listblog.sort_order=='BlogBody' && listblog.is_desc==false"><i class="caret caret-up"></i></span>
                    </div>
                </li>
                <li>
                    <div>
                        <a ng-click="listblog.sort('Creator')">Creator</a>
                        <span ng-show="listblog.sort_order=='Creator' && listblog.is_desc==true"><i class="caret"></i></span>
                        <span ng-show="listblog.sort_order=='Creator' && listblog.is_desc==false"><i class="caret caret-up"></i></span>
                    </div>
                </li>
                <li>
                    <div>
                        <a ng-click="listblog.sort('Created')">Posted</a>
                        <span ng-show="listblog.sort_order=='Created' && listblog.is_desc==true"><i class="caret"></i></span>
                        <span ng-show="listblog.sort_order=='Created' && listblog.is_desc==false"><i class="caret caret-up"></i></span>
                    </div>
                </li>
            </ul>
        </li>
        <li><a href="#/addblog" class="btn" id="add-new-post"><i class="glyphicon glyphicon-plus "></i> Add new post</a></li>
    </ul>


    <div ng-repeat="blog in listblog.items | filter:listblog.query" id="blog_{{blog.BlogId}}" class="panel panel-default">
        <div class="panel-heading">
            <a class="" ng-click="listblog.delete(blog.BlogId)" id="blog-delete"> Delete post <i class="glyphicon glyphicon-remove"></i></a>
            <hr class="blog-line">
            <h2 class="blog-name">{{blog.Name}}</h2>
            <span class="label label-default pull-right blog-date">{{blog.Created | date:mediumDate}} by {{blog.Creator}}</span>
        </div>
        <div class="panel-body">
            <p ng-bind-html="listblog.renderHtml(blog.BlogBody)">Body</p>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p><a href="#/addblogresponse/{{blog.BlogId}}" class="btn btn-primary pull-right">Add Comment</a></p>
                </div>
            </div>
            <div ng-repeat="reponse in blog.BResponses" class="panel panel-default">
                <div class="panel-heading" id="response_{{reponse.ResponseId}}">
                    <h2><span class="label label-default">{{reponse.Title}} </span></h2>
                    <span class="label label-default pull-right blog-date">{{reponse.Created | date:mediumDate}} by {{reponse.Responder}}</span>
                </div>
                <div class="panel-body">
                    <p>{{reponse.Content}}</p>
                </div>
            </div>

        </div>
    </div>

</div>
